:root {
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --grey: #e5e7eb;
    --light-blue: #3882f6;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 25px;
    --spacing-xl: 40px;
    --spacing-xxl: 72px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Base Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.8rem;
    color: var(--dark-blue);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* text / utility */
h1 {
    font-size: 4.8rem;
    font-weight: 900;
}

h2 {
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: var(--spacing-xl);
}

.container {
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid green; */
}

.container--small {
    width: 750px;
}

button {
    max-width: 100px;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 0.5rem;
    border: none;
    background-color: var(--light-blue);
    color: var(--white);
}

/* Header */
#header {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: var(--spacing-medium) 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: var(--spacing-medium);
}

a {
    color: var(--grey);
    font-size: 1.8rem;
    text-decoration: none;
}

/* HERO */
#hero {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: var(--spacing-xxl) 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xxl);
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.img-placeholder {
    background-color: darkgrey;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Information */
#information {
    text-align: center;
    padding: var(--spacing-xxl);
}

.cards {
    display: flex;
    gap: var(--spacing-xl);
    justify-content: center;
}

.card {
    max-width: 180px;
}

.card-content {
    width: 100%;
    aspect-ratio: 1/1;
    border: 3px solid var(--light-blue);
    border-radius: 1rem;
    margin-bottom: var(--spacing-medium);
}

.card-text {
    font-weight: 200;
}

/* Quote */
#quote {
    background-color: var(--grey);
    padding: var(--spacing-xxl) 0;
}

.container--quote {
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: var(--spacing-medium);
}

.quote-caption {
    font-weight: 900;
    text-align: right;
}

/* CTA */
#cta {
    padding: var(--spacing-xxl);
}

.cta-card {
    color: var(--white);
    background-color: var(--light-blue);
    padding: var(--spacing-xl);
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
}

.cta-title {
    font-weight: 900;
}
.cta-description {
    font-weight: 100;
}

.button--cta {
    border: 1px solid var(--white);
    width: 100%;
}
/* Footer */
#footer {
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-large) 0;
}
